-r requirements.txt
pytest
pytest-cov
pytest-asyncio
pytest-watcher
mypy
types-PyYAML
types-pytz
black
pylint
pylint-exit
bandit
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
