-r requirements.txt
pytest
pytest-cov
pytest-asyncio
pytest-watcher
mypy
types-PyYAML
types-pytz
black
pylint
pylint-exit
bandit
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
